:root {
	--color1: #1F2937;
	--color2: #F9FAF8;
	--color3: #E5E7EB;
	--color4: #3882F6;
}

/* PAGE WIDE STYLES */

html {
	font-size: 10px;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

.add-padding {
	padding: 0 15%;
}

button {
	color: white;
	padding: 8px 20px;
	font-size: 1.8rem;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
}

/* HEADER STYLES */

header {
	width: 100%;
	background-color: var(--color1);
}

/* NAVIGATION BAR STYLES */

header nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header nav * {
	color: var(--color3);
}

header nav .icons {
	display: flex;
	align-items: center;
}

header nav img {
	width: 28px;
	padding: 1.3rem 0;
	
}

header nav p  {
	margin-left: 10px;
	font-size: 2.8rem;
}

header nav ul {
	display: flex;
}

header nav li {
	list-style-type: none;
}

header nav a {
	font-size: 1.8rem;
	text-decoration: none;
	margin-right: 20px;
	font-weight: 500;
}

header nav a:hover {
	border-bottom: 2px solid var(--color3);
}

/* MAIN HERO STYLES */

header .hero-div * {
	color: var(--color2);
}

header .hero-div {
	padding: 10vh 0;
	display: flex;
	gap: 5%;
}

header .hero-div h1 {
	font-size: 4.8rem;
}

header .hero-div p {
	font-size: 1.8rem;
	font-weight: 300;
	margin: 20px 0;
	color: var(--color3);
}

header .hero-div img {
	width: 100%;
	max-width: 500px;
	min-width: 280px;
	object-fit: contain;
	border-radius: 5px;
}

header .hero-div button {
	background-color: var(--color4);
	border: none;
}

/* ICE CREAM IMAGES STYLES */

#ice-creams {
	padding: 10vh 0 10vh 0;
}

#ice-creams h1 {
	text-align: center;
	font-size: 3.6rem;
	color: var(--color1);
}

#ice-creams .ice-images {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
}

#ice-creams .an-image {
	margin: 10px 15px;
}

#ice-creams img {
	width: 200px;
	border: 5px solid var(--color4);
	padding: 50px;
	border-radius: 15px;
}

#ice-creams p {
	text-align: center;
	width: 200px;
	font-size: 1.4rem;
	font-weight: 600;
	margin-top: 5px;
	color: var(--color1);
}

/* QUOTE STYLES */

#ice-quote {
	width: 100%;
	background-color: var(--color3);
	padding-top: 10%;
	padding-bottom: 10%;
}

#ice-quote .quote {
	font-size: 3.6rem;
	font-style: italic;
	font-weight: 100;
	color: var(--color1)
}

#ice-quote .quote-maker {
	color: var(--color1);
	text-align: right;
	font-size: 2rem;
	font-weight: 600;
	margin-top: 30px;
}

/* ORDER STYLES */

#ice-order {
	padding-top: 10vh;
	padding-bottom: 10vh;
}

#ice-order * {
	color: white;
}

#ice-order .order-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color4);
	padding: 40px 5%;
	border-radius: 5px;
}

#ice-order .order-hero {
	font-size: 2rem;
	font-weight: 600;
}

#ice-order .order-text {
	font-size: 1.6rem;
	margin-top: 8px;
}

#ice-order button {
	background-color: transparent;
	border: 3px solid white;
}

#ice-order button:hover {
	background-color: white;
	color: var(--color4);
}

/* FOOTER STYLES */

footer {
	width: 100%;
	background-color: var(--color1);
	padding: 30px 0;
}

footer * {
	color: white;
}

footer p {
	margin-top: 5px;
	text-align: center;
	font-size: 1.4rem;
}

footer a {
	font-weight: 600;
}

@media (max-width: 1350px) {
	.add-padding {
		padding: 0 10%;
	}
}

@media (max-width: 1150px) {
	.add-padding {
		padding: 0 5%;
	}
}

@media (min-width: 1050px) and (min-height: 550px) {

	#ice-creams {
		height: 70vh;
	}

	#ice-creams img:hover {
		width: 220px;
		border: 5px solid var(--color4);
	}
}

@media (max-width: 800px) {

	#ice-order .button-div {
		width: 100%;
		margin-top: 20px;
	}
}

@media (max-width: 750px) {

	header nav {
		justify-content: center;
	}

	header ul {
		width: 0%;
		display: none;
		visibility: hidden;
	}

	header .hero-div {
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 5vh;
	}

	header .hero-div img {
		margin-top: 20px
	}

	#ice-quote .quote {
		font-size: 3rem;
	}

	#ice-quote .quote-maker {
		font-size: 1.6rem;
	}
}

@media (max-width: 350px) {

	header nav img {
		width: 24px;
	}

	header nav p {
		font-size: 2.3rem;
	}
}