


:root {
	--color1: #1F2937;
	--color2: #F9FAF8;
	--color3: #E5E7EB;
	--color4: #3882F6;
}

html {
	font-size: 10px;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

.add-padding {
	padding: 0 15%;
}

header {
	width: 100%;
	background-color: var(--color1);
}

header nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header nav * {
	color: var(--color3);
}

header nav .icons {
	display: flex;
	align-items: center;
}

header nav img {
	width: 28px;
	padding: 1.3rem 0;
	
}

header nav p  {
	margin-left: 10px;
	font-size: 2.4rem;
}

header nav ul {
	display: flex;
}

header nav li {
	list-style-type: none;
}

header nav a {
	font-size: 1.8rem;
	text-decoration: none;
	margin-right: 20px;
	font-weight: 600;
}

header nav a:hover {
	border-bottom: 2px solid var(--color3);
}

header .hero-div * {
	color: var(--color2);
}

header .hero-div {
	padding: 10vh 0;
	display: flex;
	gap: 5%;
}

header .hero-div h1 {
	font-size: 4.8rem;
}

header .hero-div p {
	font-size: 1.8rem;
	font-weight: 300;
	margin: 20px 0;
	color: var(--color3);
	
}

header .hero-div img {
	width: 400px;
	height: 300px;
	object-fit: contain;
}

header .hero-div button {
	background-color: var(--color4);
	border: none;
	padding: 8px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.6rem;
}

#ice-creams {
	height: 90vh;
	padding: 10vh 0 20vh 0;
}

#ice-creams h1 {
	text-align: center;
	font-size: 3.6rem;
	color: var(--color1);
}

#ice-creams .ice-images {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
}

#ice-creams .an-image {
	margin: 10px 15px;
}

#ice-creams img {
	width: 200px;
	border: 3px solid var(--color4);
	padding: 50px;
	border-radius: 15px;
}

#ice-creams img:hover {
	width: 220px;
	border: 5px solid var(--color4);
}

#ice-creams p {
	text-align: center;
	width: 200px;
	font-size: 1.4rem;
	font-weight: 600;
	margin-top: 5px;
	color: var(--color1);
}

#ice-quote {
	width: 100%;
	background-color: var(--color3);
	padding: 20vh 20%;
}

#ice-quote .quote {
	font-size: 3.6rem;
	font-style: italic;
	font-weight: 100;
	color: var(--color1)
}

#ice-quote .quote-maker {
	color: var(--color1);
	text-align: right;
	font-size: 2rem;
	font-weight: 600;
	margin-top: 20px;
}